#works{
    background-color: white;
    margin-top: 10rem;
   height: 105vh;
   overflow: unset;
   position: relative;
   z-index: 2;
}

.work-image{
    
    width: fit-content;
    overflow: hidden;
    height: 100%;
    position: absolute;
    right: 60%;
    top:0;
    z-index: 1;
    transition: transform 0.5s, box-shadow 0.5s;
    box-shadow: none;
}
.work-image:hover{
    transform: translate(50px,-25px);
    box-shadow: 3px 3px 12px  rgb(153, 147, 130);
}
#page-2 .work-image{
    right: 55%;
}
img{
  
    height: 100%;
}
#carousel{
    position:relative;
    overflow: visible;
    height: 75vh;
    z-index: 2;
}
.carousel-pages{
    display: flex;
    position: relative;
    overflow: unset;
    height: 100%;
    width: 200vw;
}
#page-1{
    z-index: 2;
}
#page-2{
    z-index: 1;
    opacity: 0;
}
.carousel-page{
    width:100vw;
    height: 100%;
    position: absolute;
    overflow: visible;
    transition:all 0.5s;
    background-color: transparent;
}
.carousel-nav{
    width: 38%;
    position:absolute;
    top:80%;
    left:55%;
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 5;
}
#carousel-pagination{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    height: 6px;
}
#works #works-title{
    
    padding:14rem 15vw;
    color:rgb(99, 99, 99);
    z-index: 2;
    position: relative;
}
#works-title h2{
    position: absolute;
    bottom:30%;
}
.page-dash{
    height: 5px;
    width:40px;
    background-color: rgba(107, 107, 107, 0.521);
    border-radius: 50px;
}
.page-dash-highlighted{
    background-color: rgb(49, 49, 49);

}
#works .content{
    position: absolute;
    left:55%;
    top:30%;
    width: 40%;
}
#contact{
    position:relative;
    height: 30vh;
}

.contact-links{
    width:80vw;
    position: absolute;
    top:10vh;
    left:15vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.contact-links > div{
    
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
}
.contact-link{
    
    width: 100%;
    display: flex;
    
    align-items: center;
    justify-content: start;
}
.contact-link a{
    margin-left: 2rem;
}
.contact-form{
    position: absolute;
    top:50vh;
    left:50vw;
}

#preview{
    display:none;
    position: absolute;
    height: 110vh;
    width: 100vw;
    top:0;
    left:0;
    z-index: 100;
 
    backdrop-filter: blur(10px) brightness(0.8);
    -webkit-backdrop-filter: blur(10px) brightness(0.8);
   
    justify-content: center;
    align-items: center;
}
#preview-content{
    position:relative;
    background-color: white;
    height: calc(900px*0.5);
    width: calc(1440px*0.5);
   
   
    
}#preview-img{
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}
#preview img{
    width: 100%;
    height: auto;
}
#close-preview{
    position:absolute;
    height: 2rem;
    width: 2rem;
    background-color: red;
    border-radius:100%;
    top:-3rem;
    right:0rem;
}
#left-arrow, #right-arrow{
    position:relative;
}
.hover-area{
   
    
    position:absolute;
    height: 12rem;
    width: 12rem;
    
    border-radius: 100%;
    top:-4rem;
    left:-3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hover-area::before{
    content:'';
    opacity: 0;
    width:0;
    height:0;
    border:1px solid black;
    border-radius: 100%;
    transition: all 0.5s;
}
.hover-area:hover::before{
    height: 12rem;
    width: 12rem;
    opacity: 1;
    
}